{%extends 'info/base.html' %}
{%load staticfiles%}
{%block content%}
         
<div class="about"> 
<div class="heading" style="text-align:left;font-size:36px;">About</div>        
The Chennai Municipal Corporation (officially the Greater Chennai Corporation[1]), formerly known as the Corporation of Madras, is the civic body that governs the city of Chennai, India. It is the oldest municipal body of the Commonwealth of Nations outside Great Britain. It is headed by a mayor, who presides over 200 councillors each of whom represents one of the 200 wards of the city. It is also the second oldest city civic body in the world after London.
</div >

<div class="solid">
<div class="heading" style="text-align:right;font-size:36px;">Solid Waste Management</div> 
Headed by a Superintendent Engineer, the corporation is responsible for removal of solid waste within city limits. Every day, 4,500 metric tons of garbage is collected and removed from the city. Night conservancy is being carried out in all important roads and commercial areas of the city. In addition, door-to-door collection of garbage is followed in all zones in the city.The waste is transported by 966 conservancy vehicles.The corporation maintains dumping grounds at Kodungaiyur and Perungudi for dumping solid waste.
</div>                

<div class="waste">
<div class="heading" style="text-align:left;font-size:36px;">Waste Management</div> 
The city generates 4,500 tonnes of garbage every day. The city has three dumpyards, one each at Perungudi, Kodungaiyur, and Pallikaranai. The corporation has planned to close these yards and create four new dumpyards at Malaipattu, Minjur, Vallur, and Kuthambakkam villages, ranging in size from 20 acres to 100 acres.According to studies by the civic body, green waste and wood account for 39 percent of the city's garbage and food waste around 8 percent. The civic body also spends ₹4 billion (US$62 million) a year on solid waste management.The corporation is planning to create a 200-acre park at the 269-acre Kodungaiyur dump yard and a 150-acre park at the 200-acre Perungudi dumpsite     
</div>

{%endblock%}
