
{%extends 'users/base.html' %}
{% load staticfiles %}
    {%block content%}

                    <form action="complaint_form" method="post" style="position: relative;top: 50px;" >
                                               {%csrf_token%}
                    <div id="lab"><label for="zone">Zone</label>
                            <select id="zn" name="zone">
				                {%for i,j in zone_list%}
                                    <option value={{i}}>{{j}}</option>
                                {%endfor%}
                            </select>
                        <div id="lab" style="margin-top: 5%;"><label for="division">Division</label>
                            <select id="dvn" name="division">
                                {%for i,j in division_list%}
                                    <option value={{i}}>{{j}}</option>
                                {%endfor%}
                            </select>
                        </div>
                    
                        
                        <div id="lab"><label for="Department">Department</label>
                            <select id="department" name="department" style="margin-left: 4%;margin-top: 5%;">
                                <option value="Health">Health Waste</option>
                                <option value="Solid">Solid Waste and Garbage</option>
                                <option value="Others">Others</option>
                            </select>
                        </div>
                        
                        <div id="lab"><label for="details">Details</label>
                        <input type="text" id="details" name="details" style="margin-left: 11.5%;margin-top: 5%;">
                        </div>
                    

                        <input type="submit" value="Submit">
                    </form>
                    <img src="{% static 'images/symbol.jpg' %}" style="position: relative;top: -680px;left: 45%; height: 150px;width: 150px;">
                    
                        
        {%endblock%}
                
        
