{%extends 'users/base.html' %}

{%block content%}
                    <form action="sign_in_form" method="post">
                                               {%csrf_token%}
                        <div id="lab" style="margin-top:-7.5%;"><label for="mail">Mail</label>
                            <input type="text" id="mail" name="mail" placeholder="Your Email..">
                        </div>
                        
                        <div id="lab" ><label for="password">Password</label>
                            <input type="password" id="pass" name="password" placeholder="Your password">
                        </div>
                        <div class="message" style="color:red;text-align:center;margin-top:1.5%;margin-bottom:-1.5%;">{{message}}</div>
                        <input type="submit" value="Login">
			<div class="msg" style="margin-left:40%;text-decoration:underline;"><a onclick="document.getElementById('id01').style.display='block'">Forgot Password?</a></div>

                    </form>

{%endblock%}

{%block card_content%}
        <h2>Password Reset</h2>
      </header>
      <div class="w3-container">
	<form action="reset_passwrd">
        <div id="lab" style="margin-top:-7.5%;"><label for="email">Email</label>
                            <input type="text" id="email" name="email" placeholder="Your Email">
                        </div>
                        <input type="submit" value="Submit">
        </form>
{%endblock%}

