{%extends 'employee/base.html' %}
{%load staticfiles %}

{%block content%}
                    
                    <form action="official_login_fill" style="position: relative;top: 75px;" method="post">
{%csrf_token%}
                        <div id="lab"><label for="empid">Employee ID</label>
                            <input type="text" id="emp" name="empid" placeholder="Your Employee ID">
                        </div>
                        
                        <div id="lab"><label for="password">Password</label>
                            <input type="password" id="pass" name="password" placeholder="Your password">
                        </div>
                        <div class="message" style="color:red;text-align:center;margin-top:1.5%;margin-bottom:-1.5%;">{{message}}</div>
                        <input type="submit" value="Sign-Up">
                    </form>
<img src="{% static 'images/symbol.jpg' %}" style="position: relative;top: -500px;left: 570px; height: 150px;width: 150px;z-index=-1;">
{%endblock%}

